h2{
    color: whitesmoke;
}
#formheader{
    
    width: 200px;
}
.logodiv{
    display: flex;
    /* width: 200px; */
   
}
.card-body:hover{
    background-color: cyan; 
    font-size: large;
    border-color:yellowgreen;
    transform: scale(1.2); 
 }
 #card_button{
    align-items: center;
    text-align: center;
    margin-left: 70px;
 }
#destinations{
    background-color: purple;
    color: black;
    overflow: hidden;
}
.card_container{
    overflow:hidden;
    background-color: purple;
}
.table-details
{
    background-color: purple;
    
    text-align: center;
    align-items: center;
}
#search_container{
    height: 100px;
    background-color: cyan;
}
p{
    text-align: center;
}
h4{
    text-align: center;
}
.text-white{
    color: white;
}
#carouselExampleAutoplaying{
    height: 500px;
}
 .carousel-item {
    height: 1000px;
  } 
  .carousel-inner{
    height: 500px;
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  } 
.margintop{
    margin-top: 15px;
}
.logoimg_right
{
    padding-left: 100px;
}

#RegisterPage p:first-of-type{

color: purple;
font-weight: 900;
font-family: 'Courier New', Courier, monospace
}
#gapdiv{
    background-color: purple;
}
h4 {
    width: 300px;
    animation-name: text;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: purple;
    color:white;
}

 #tag_line{
  animation-timing-function: ease-in-out;
} 
@keyframes text {
    from {
        margin-left: 30%;
    }

    to {
        margin-left: 0%;
    }
}


.card-body{
    margin-left: 5px; 
    margin-right: 5px;
    border:2px solid black ;
    width:100px;
    background-color: cyan;
    transition-property:font-size background-color border-color ;
    transition-duration: 1s;
    /* display: flex;
    flex-direction: column; */

}
#memorable_section{
    color: white;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
#RegisterPage{
 display: flex;
}
#destinations h2{
 color: whitesmoke;
}